<div class="grid grid-cols-5 grid-rows-3 gap-7">
  <div class="col-span-2 row-span-2">
    <div>
      <label
        for="nombre"
        class="block mb-2 text-sm font-medium text-black dark:text-black"
      >Nombre</label>
      <input
        type="text"
        id="nombre"
        [(ngModel)]="empleado.nombre" 
        class="bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>
    <div>
      <label
        for="matricula"
        class="block mb-2 text-sm font-medium text-black dark:text-black"
      >Matricula</label>
      <input
        type="text"
        id="matricula"
        [(ngModel)]="empleado.matricula" 
        class="bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>
    <div>
      <label
        for="correo"
        class="block mb-2 text-sm font-medium text-black dark:text-black"
      >Correo</label>
      <input
        type="email"
        id="correo"
        [(ngModel)]="empleado.correo" 
        class="bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>
    <div>
      <label
        for="edad"
        class="block mb-2 text-sm font-medium text-black dark:text-black"
      >Edad</label>
      <input
        type="number"
        id="edad"
        [(ngModel)]="empleado.edad" 
        class="bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>
    <div>
      <label
        for="horasTrabajadas"
        class="block mb-2 text-sm font-medium text-black dark:text-black"
      >Horas Trabajadas</label>
      <input
        type="number"
        id="horasTrabajadas"
        [(ngModel)]="empleado.horas" 
        class="bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>
  </div>
  <div class="col-start-1 row-start-3">
    <button
      type="button"
      (click)="agregarEmpleado()"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    >
      Registrar
    </button>
  </div>
  <div class="col-span-3 row-span-3 col-start-3 row-start-1">
    <button
      type="button"
      (click)="imprimir()" 
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    >
      Imprimir Tabla
    </button>
    <div class="relative overflow-x-auto">
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Matricula</th>
            <th scope="col" class="px-6 py-3">Nombre</th>
            <th scope="col" class="px-6 py-3">Correo</th>
            <th scope="col" class="px-6 py-3">Edad</th>
            <th scope="col" class="px-6 py-3">Horas Trabajadas</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let emp of empleados"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
          >
            <td class="px-6 py-4">{{ emp.matricula }}</td>
            <td class="px-6 py-4">{{ emp.nombre }}</td>
            <td class="px-6 py-4">{{ emp.correo }}</td>
            <td class="px-6 py-4">{{ emp.edad }}</td>
            <td class="px-6 py-4">{{ emp.horas }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="grid grid-cols-1 grid-rows-2">
      <div>
        <button
          type="button"
          (click)="modificarEmpleado(emp.matricula)" 
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        >
          Modificar
        </button>
      </div>
      <div>
        <button
          type="button"
          (click)="eliminarEmpleado(emp.matricula)"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
